/* font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif; */
body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #f9f4f2;
  padding: 180px 300px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 32px;

  font-weight: normal;
}

.hero h2 {
  font-size: 32px;
  color: black;
  font-weight: normal;
  margin-bottom: 60px;
}
.btn-hero {
  background: #4923f3;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero {
    padding: 60px 20px;
  }
}
