/* font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif; */
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: black;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

h4 {
  font-size: 15px;
  font-weight: 700;
  color: black;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.logo {
  max-height: 50px;
}

.active {
  color: #4923f3 !important;
}

.grid-img {
  border-radius: 5px;
  box-shadow: 0 1px 5px #00000008, 0 5px 30px #0000001a;
}
.btn-fill {
  background: #4923f3;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-fill:hover {
  background: #4923f3;
  opacity: 0.8;
  color: white;
}

/*HOMEPAGE*/
.hero {
  background-color: #f9f4f2;
  padding: 200px 300px;
}

.hero h2 {
  margin-bottom: 60px;
  font-size: 32px;
  color: black;
  font-weight: normal;
}
.btn-outlined {
  background: white;
  border: 1px solid #4923f3;
  border-radius: 4px;
  color: #4923f3;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-outlined:hover {
  background: #4923f3;
  opacity: 0.8;
  color: white;
}

.project-description {
  padding: 40px 60px;
}

.project-description h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* Main page content */
.featured-project-grid {
  padding: 40px 80px 80px 80px;
}

.page-content {
  padding: 140px 20px;
}

.page-content h1 {
  font-size: 60px;
  margin: 20px 0 20px 0;
}

.page-content h2 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.page-content p {
  font-size: 20px;
}
/*Work Page*/

.work-heading h1 {
  font-size: 30px;
}
/*Contact Page*/
.contact-links a {
  text-decoration: none;
  color: #585c5e;
}

.contact-links a:hover {
  text-decoration: none;
  color: #4923f3;
}

/*Footer*/

footer .social-links a {
  text-align: center;
  color: #4923f3;
  background: #f9f4f2;
  font-size: 20px;
  border-radius: 10px;
  margin: 0 20px;
  padding: 10px 16px;
}

footer .footer-box {
  background: #f9f4f2;
  padding: 20px 0;
  border-radius: 10px;
}

footer .footer-box h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

footer .footer-box p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 960px) {
  .hero {
    padding: 120px 20px 40px 20px;
  }
  .hero h1 {
    font-size: 20px;
    text-align: center;
  }
  .hero h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .btn-fill {
    font-size: 14px;
    padding: 10px 20px;
  }

  .page-content {
    text-align: center;
    padding: 40px 20px;
  }
}

/*
FOR IMG OVERLAY

.ovl {
  opacity: 0;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  transition: 0.5s;
}

.ovl:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
}

*/
