/* font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif; */
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: black;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

/*HOMEPAGE*/
.hero {
  background-color: #f9f4f2;
  padding: 200px 300px;
}

.hero h2 {
  margin-bottom: 60px;
  font-size: 32px;
  color: black;
  font-weight: normal;
}
.btn-hero {
  background: #4923f3;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-hero:hover {
  background: #4923f3;
  opacity: 0.8;
  color: white;
}
.featured-projects {
  padding: 0 80px 0 80px;
}
.btn-outlined {
  background: white;
  border: 1px solid #4923f3;
  border-radius: 4px;
  color: #4923f3;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-outlined:hover {
  background: #4923f3;
  opacity: 0.8;
  color: white;
}

img {
  border-radius: 5px;
  box-shadow: 0 1px 5px #00000008, 0 5px 30px #0000001a;
}

.weather-img:hover {
  background: #4923f3;
  opacity: 0.3;
}

.project-description {
  padding: 40px 60px;
}

.project-description h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* About Page */
.about-section {
  padding: 160px 20px;
}

.about-section-cont {
  margin: 20px;
}
.about-section h1 {
  font-size: 64px;
  margin: 20px 0 20px 0;
}
.about-section h2 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 20px;
}

/* Media Queries */
@media (max-width: 960px) {
  .hero {
    padding: 60px 20px;
  }
  .hero h1 {
    font-size: 20px;
    text-align: center;
  }
  .hero h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .btn-hero {
    font-size: 14px;
    padding: 10px 20px;
  }

  .about-section {
    text-align: center;
    padding: 40px 20px;
  }
}

/*
FOR IMG OVERLAY

.ovl {
  opacity: 0;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  transition: 0.5s;
}

.ovl:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
}

*/
